<h1>Create a New Event</h1>

<nav>
  <a href="/e29-social-club/events">Events Home</a>
</nav>

<form action="/e29-social-club/events" method="post">
  <label for="type">Type</label>
  <input type="text" name="type">

  <label for="number-attending">Number Attending</label>
  <input type="number" name="number_attending">

  <label for="max-capacity">Max Capacity</label>
  <input type="number" name="max_capacity">

  <input type="submit" value="Add New Event">
</form>
