<h1>Create a New Event</h1>

<h4><a href="/e29-social-club/events">Events Home</a></h4>

<form action="/e29-social-club/events" method="post">
  <label for="type">Type: </label>
  <input type="text" name="type">

  <label for="max-capacity">Max Capacity: </label>
  <input type="number" name="max_capacity" min="1">

  <input type="submit" value="Add New Event" class="add-button">
</form>
