<h1>Edit Event</h1>
<h4><a href="/events">Events Home</a></h4>

<form action="/members/<%= @member.id %>" method="post">

  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" value="<%= @member.first_name %>">

  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" value="<%= @member.last_name %>">

  <input type="submit" value="Update">
</form>

<a href="/members/<%= @member.id %>">Back to Member</a>
