<h1>Members List</h1>

<nav>
  <a href="/e29-social-club/members/new">Add New Member</a>
</nav>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Attendance Count</th>
    <th></th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.attendance_count %></td>
    <td><a href="/e29-social-club/members/<%= member.id %>">More Details</a></td>
  </tr>
  <% end %>
</table>
