<h1>Add New Member</h1>

<h4><a href="/members">Members Home</a></h4>

<form action="/members" method="post">

  <label for="first-name">First Name: </label>
    <input type="text" name="first_name">

  <label for="last-name">Last Name: </label>
    <input type="text" name="last_name">

  <input type="submit" value="Add New Member" class="add-button">
</form>
