<h1>Add New Member</h1>

<nav>
  <a href="/e29-social-club/members">Member Home</a>
</nav>

<form class="new-form" action="/e29-social-club/members" method="post">

  <label for="first-name">First Name:</label>
    <input type="text" name="first_name">

  <label for="last-name">Last Name:</label>
    <input type="text" name="last_name">

  <label for="attendance-count">Attendance Count</label>
    <input type="number" name="attendance_count">

  <input type="submit" value="Add New Member">
</form>
