<h4>Quick Links</h4>

<body>
  <li><a href="/e29-social-club/members/new">Add New Member</a></li>
  <li><a href="/e29-social-club/events/new">Add New Event</a></li>
  <li><a href="/e29-social-club/bookings/new">Add New Booking</a></li>
</body>
