<!DOCTYPE html>
<html>
<head>
  <title>E29 Social Club</title>
</head>
<body>
  <h1>E29 Social Club</h1>
  <main>
    <nav>
      <a href="/e29-social-club">Home</a>
      <a href="/e29-social-club/members">Members</a>
      <a href="/e29-social-club/events">Events</a>
      <a href="/e29-social-club/bookings">Bookings</a>
    </nav>
    <section id="content">
      <%= yield %>
    </section>
  </main>
</body>
</html>
