<!DOCTYPE html>
<html>
<head>
  <title>E29 Social Club</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="icon" href="/pictures/mirror-ball.png" />
</head>
<body>
  <h1>E29 Social Club</h1>
  <main>
    <nav>
      <a href="/e29-social-club">Home</a>
      <a href="/e29-social-club/members">Members</a>
      <a href="/e29-social-club/events">Events</a>
      <a href="/e29-social-club/bookings">Bookings</a>
    </nav>
    <section id="content">
      <%= yield %>
    </section>
  </main>
</body>
<footer>
  <a href="https://github.com/sierratango34" target="_blank" class="github"><img src="https://img.icons8.com/ios/50/000000/github-filled.png" class="github"></a>
</footer>
</html>
