<!DOCTYPE html>
<html>
<head>
  <title>E29 Social Club</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="icon" href="/pictures/mirror-ball.png" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
  <h1 class="main-link"><a class="main-link" href="/e29-social-club">E29 Social Club</a></h1>
  <main>
    <nav>
      <a href="/e29-social-club">Home</a>
      <a href="/e29-social-club/members">Members</a>
      <a href="/e29-social-club/events">Events</a>
      <a href="/e29-social-club/bookings">Bookings</a>
    </nav>
    <section id="content">
      <%= yield %>
    </section>
  </main>
</body>
<!-- <footer>
  <a href="https://github.com/sierratango34" target="_blank" ><i class="fab fa-github github"></i></a>
</footer> -->
</html>
