a.main-link {
  color: black;
  text-decoration: none;
}

a {
  color: #89001B;
  text-decoration: none;
}

a:hover {
  color: #3F4459;
  text-decoration: none;
}

a:hover.main-link {
  color: black;
  text-decoration: none;
}

a.edit-button-link, a.add-button-link {
  color: black;
  text-decoration: none;
  background-color: white;
}

body {
  text-decoration: none;
  background-color: #FBFBFB;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 22px;
  margin: 0;
}

footer {
  width: 100vw;
  background-color: #89001B;
  text-align: center;
  position: fixed;
  bottom: 0;
  min-height: 50px;
}

input {
  width: auto;
  font-size: 20px;
}

input.delete-button {
  background-color: #89001B;
  color: #FBFBFB;
}

input[type=number] {
    padding: 2px;
    background: white ;
    border: 2px solid black ;
    cursor: pointer;
    border-radius: 5px;
}

input[type=submit], .add-button, .edit-button  {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

input[type=text] {
  padding: 2px;
  border: 2px solid black;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color: #89001B;
}

li {
  list-style-type: none;
  padding: 3px;
}

nav {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  text-align: center;
  font-size: 22px;
  padding-bottom: 20px;
}

nav a {
  font-size: 24px;
}

select {
  font-size: 18px;
}

table {
  display: flex;
  justify-content: center;
  border-spacing: 10px;
  border-collapse: collapse;
}

table.confirmed-bookings, table.all-bookings, table.unconfirmed-bookings {
  padding: 0px 10px;
}

table.member-edit-add-delete {
  background-color: #FBFBFB;
  padding-bottom: 20px;
}

table tr {
  height: 40px;
}

table tr:nth-child(odd) {
  background-color: #EDEDED;
}

td {
  font-size: 18px;
  padding: 0px 15px;
}

td.event-edit-confirm-delete, td.member-edit-add-delete, td.booking-edit-confirm-delete {
  background-color: #FBFBFB;
  padding-bottom: 20px;
}

td.new-booking-nav {
  background-color: #FBFBFB;
  padding-bottom: 20px;
  font-size: 22px;
}

th {
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
}

th.table-head {
  align-items: center;
  font-size: 28px;
}

.content {
  margin-bottom: 120px;
}

.github {
  color: #FBFBFB;
  text-align: center;
  font-size: 30px;
  padding: 18px;
}

.main-link {
  font-size: 52px;
}

.new-booking .add-button {
  padding: 5px;
  background: white ;
  border: 2px solid black ;
  cursor: pointer;
  border-radius: 5px;
}

.bookings-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}

.search-bar {
  margin: 0 0 10px 0;
}
