body {
  text-decoration: none;
  background-color: #FBFBFB;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 22px;
  margin: 0;
}

.main-link {
  font-size: 52px;
}
a.main-link {
  color: black;
  text-decoration: none;
}

a:hover.main-link {
  color: black;
  text-decoration: none;
}

nav a {
  font-size: 24px;
}

a {
  color: #89001B;
  text-decoration: none;
}

a:hover {
  color: #3F4459;
  text-decoration: underline;
}

nav {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  text-align: center;
  font-size: 22px;
  padding-bottom: 20px;
}

table {
  display: flex;
  justify-content: center;
}

td {
  font-size: 18px;
  padding: 3px;
}

th {
  padding: 20px;
  padding-bottom: 5px;
  font-size: 22px;
}

li {
  list-style-type: none;
}

footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  background-color: #89001B;
  text-align: center;
  margin-top: auto;
}

.github {
  color: #FBFBFB;
  text-align: center;
  font-size: 30px;
  padding: 18px;
}

input {
  width: auto;
  font-size: 20px;
}

.content {
  margin-bottom: 50px;
}

select {
  font-size: 18px;
}

.form-**** input [type=submit] {
  padding: 20px;
}
