<h1>Booking Successfully Created!</h1>

<nav>
  <a href="/e29-social-club/bookings">Bookings Home</a>
  <a href="/e29-social-club/bookings/new">Create Another Booking</a>
  <a href="/e29-social-club/bookings/<%= @booking.id %>">Go To Booking</a>
</nav>
