<h1>All Bookings</h1>

<nav>
  <a href="/e29-social-club">Home Page</a>
  <a href="/e29-social-club/bookings/new">Add New Booking</a>
</nav>
<table>
  <tr>
    <th>Booking Reference Number</th>
    <th>Member</th>
    <th>Event</th>
    <th></th>
  </tr>

  <% for booking in @bookings %>
  <tr>
    <td><%=booking.id%></td>
    <td><%=booking.member_id%></td>
    <td><%=booking.event_id%></td>
    <td><a href="/e29-social-club/bookings/<%=booking.id%>">More Details</a></td>
  </tr>
  <% end %>
</table>
