<h1>Create New Booking</h1>

<nav>
  <a href="/e29-social-club/bookings">Bookings Home</a>
</nav>

<form action="/e29-social-club/bookings" method="post">
  Member:
  <select name="member-id">
    <% for member in @all_members %>
    <option value="<%= member.id %>"><%= member.pretty_name %></option>
    <% end %>
  </select>
  Event:
  <select name="event-id">
    <% for event in @all_events %>
    <option value="<%= event.id %>"><%= event.type %></option>
    <% end %>
  </select>

  <input type="submit" value="Add Booking">
</form>
